@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('../fonts/Robotocondensedlight.woff2') format('woff2'), url('../fonts/Robotocondensedlight.woff') format('woff'), url('../fonts/Robotocondensedlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url('../fonts/Robotocondensedlightitalic.woff2') format('woff2'), url('../fonts/Robotocondensedlightitalic.woff') format('woff'), url('../fonts/Robotocondensedlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('../fonts/Robotocondensed.woff2') format('woff2'), url('../fonts/Robotocondensed.woff') format('woff'), url('../fonts/Robotocondensed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url('../fonts/Robotocondenseditalic.woff2') format('woff2'), url('../fonts/Robotocondenseditalic.woff') format('woff'), url('../fonts/Robotocondenseditalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('../fonts/Robotocondensedbold.woff2') format('woff2'), url('../fonts/Robotocondensedbold.woff') format('woff'), url('../fonts/Robotocondensedbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url('../fonts/Robotocondensedbolditalic.woff2') format('woff2'), url('../fonts/Robotocondensedbolditalic.woff') format('woff'), url('../fonts/Robotocondensedbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.link-active {
    font-style: normal;
    font-weight: bold;
}

img {
    max-width: 100%;
}

body {
    overflow-anchor: none;
    scroll-behavior: smooth;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.elem-none {
    display: none;
}

.elem-block {
    display: block !important;
}

.container {
    width: 1620px;
    margin: 0 auto;
}

#main {
    display: flex;
    justify-content: center;
    background-color: #1C1C1D;
    padding-bottom: 325px;
}

.header_navigation {
    display: flex;
    justify-content: center;
    padding: 0;
}

.header_navigation__item {
    list-style-type: none;
    padding: 10px;
}

.header_navigation__item-link {
    font-family: 'Roboto Condensed';
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header_navigation__item-link:hover {
    font-style: normal;
    font-weight: bold;
}

.header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}


.header_info__title {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 65px;
    line-height: 76px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #F69A3A;

}

.header_info__desc {
    font-family: 'Roboto Condensed';
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.01em;
    max-width: 490px;
    display: block;
    color: #FFFFFF;
    margin-top: 70px;
}

.header_info__btn {
    font-family: 'Roboto Condensed';
    background: #FFFFFF;
    font-weight: bold;
    display: block;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
    width: 375px;
    text-align: center;
    height: 60px;
    margin-top: 70px;
}

.social-icons, .footer-social-icons {
    display: flex;
    flex-direction: column;
    width: 45px;
    margin: 0px 35px;
    margin-right: 110px;
}
.social-icons__item, .footer-social-icons__item {
    margin-top: 40px;
}
.social-icons__item:first-child, .footer-social-icons__item:first-child {
    margin-top: 0px;
}

section#about {
    position: relative;
}

.about_flex {
    padding-top: 280px;
    padding-bottom: 155px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.whatis__title {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #120C0C;
}

.whatis__desc {
    padding-top: 70px;
    max-width: 700px;
    display: block;
    font-family: 'Roboto Condensed';
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #000000;
}

.mcduck__about {
    margin-right: 50px;
    z-index: 1;
}

.buble {
    position: absolute;
    right: 0;
    top: 0;
}

#your {
    background-color: #1C1C1D;
    padding-top: 90px;
    padding-bottom: 10px;
}

.help__title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFEFE;
    text-align: center;
}

.three_row {
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
}

.three_row__item {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.ducks-2 {
    margin-top: 60px;
}

.three_row__item-title {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.three_row__item-desc {
    font-family: 'Roboto Condensed';
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-top: 55px;
    margin-bottom: 30px;
}

section#chart {
    padding-bottom: 310px;
    position: relative;
}

.chart_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart_flex__img {
    margin-top: 100px;
}

.chart_flex__list {
    list-style: none;
    padding: 0;
    margin-right: 270px;
    margin-top: 200px;
}

.chart_flex__list-item {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.01em;
    color: #000000;
    padding: 25px 0px;
}

.chart_flex__list span {
    color: #F69A3A;
}

.dot_left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.dot_right {
    position: absolute;
    top: 0;
    right: 0;
}

section#roadmap {
    background-color: #1C1C1D;
    padding-bottom: 230px;
}

.roadmap_flex {
    display: flex;
}

.roadmap_flex_left {
    margin-top: 350px;
}

.roadmap_flex_right {
    margin-top: 180px;
    position: relative;
}

.may-content,
.june-content,
.july-content {
    display: none;
}

.may-content__title,
.june-content__title,
.july-content__title {
    font-family: 'Roboto Condensed';
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 35px;
}


.may-content__list,
.june-content__list,
.july-content__list {
    list-style: none;
    margin-top: 80px;
}

.may-content__list-item,
.june-content__list-item,
.july-content__list-item {
    font-family: 'Roboto Condensed';
    letter-spacing: 0.01em;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 32px;
    font-weight: lighter;
    padding: 15px 0px;
}

.may2021,
.june2021,
.july2021 {
    font-family: 'Roboto Condensed';
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    cursor: pointer;
}

.may2021 {
    position: absolute;
    left: -40px;
    top: -30px;
}

.may2021:hover:after,
.june2021:hover:after,
.july2021:hover:after {
    content: "";
    display: block;
    background-color: #F69A3A;
    height: 7px;
}

.june2021 {
    position: absolute;
    right: 360px;
    top: 300px;
}

.july2021 {
    position: absolute;
    right: -25px;
}

#footer {
    padding-bottom: 80px;
}

.footer_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 190px;
}

.footer_center__title {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
}

.footer_center__desc {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}

.footer_navigation {
    list-style: none;
}

.footer_navigation__item {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
    padding: 15px 0px;
}

.footer_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_center__desc {
    margin-top: 50px;
    width: 540px;
}

.footer-social-icons {
    display: flex;
    flex-direction: column;
    margin: 0px 35px;
    margin-right: 110px;
    margin-top: 15px;
}

.footer-social-icons__item img {
    filter: invert(1);
}

.footer_navigation {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer_navigation__item:first-child 
{
    padding-top: 10px;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;

}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.chart_flex__list {

    right: 10px;
}

.hamburger-menu {
    display: none;
}
.roadmap_flex_left {
    width: 565px;
}

@media (max-width:1366px) {
    .container {
        width: 1366px;
    }

    section#roadmap {
        padding-bottom: 50px;
        min-height: 800px;
        max-height: 1000px;
    }

    .header_info__title {
        font-size: 45px;
        line-height: 53px;
    }

    .header_info__desc {
        font-size: 20px;
        line-height: 23px;
        max-width: 480px;
    }


    .header_info {
        display: flex;
        flex-direction: column;
        margin-left: 110px;
    }
    .header_bottom {
        margin-top: 100px;
    }

    .mcduck__about img {
        width: 500px;
        height: 500px;
    }

    .whatis {
        text-align: center;
    }

    .whatis__title {
        font-size: 30px;
        line-height: 35px;
        margin-top: 50px;
    }

    .whatis__desc {
        font-size: 18px;
        max-width: 550px;
        line-height: 35px;
    }
    .about_flex {
        justify-content: space-around;
        padding-top: 0px;
        padding-bottom: 40px;
    }
    #your {
        padding-bottom: 90px;
    }


    .help__title {
        font-size: 30px;
        line-height: 35px;
    }

    .three_row__item-title {
        font-size: 30px;
        line-height: 35px;
    }

    .three_row__item-desc {
        margin-top: 30px;
        font-size: 18px;
        line-height: 21px;
        padding: 0px 40px;
    }

    .three_row__item:nth-child(2) {
        align-self: flex-end;
    }

    .three_row__item {
        align-items: center;
    }

    .three_row__item-img img {
        width: 150px;
    }

    .ducks-2 {
        margin-top: 40px;
    }

    .chart_flex__list {
        margin-right: 0px;
    }

    .chart_flex__img {
        width: 75%;
        position: relative;
    }

    .chart_flex__list {
        margin-top: 20px;
        position: absolute;
        top: 0;
        right: 150px;
    }

    .chart_flex__list-item {
        font-size: 25px;
        line-height: 35px;
    }

    section#chart {
        padding-bottom: 100px;
    }

    .roadmap_flex_left {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 35px;
        min-width: 400px;
    }

    .may-content__list,
    .june-content__list,
    .july-content__list {
        padding: 0;
        margin-top: 20px;
    }

    .may-content__title,
    .june-content__title,
    .july-content__title {
        font-size: 20px;
        line-height: 28px;
    }

    .may-content__list-item,
    .june-content__list-item,
    .july-content__list-item {

        font-size: 18px;
        line-height: 25px;

    }

    .may2021,
    .june2021,
    .july2021 {
        font-size: 25px;
    }

    .june2021 {
        position: absolute;
        right: 270px;
        top: 220px;
    }

    .roadmap_flex_right {
        width: 700px;
        position: absolute;
        left: 500px;
    }

    section#roadmap {
        padding-bottom: 50px;
    }

    .footer_center__title {
        font-size: 45px;
        line-height: 53px;
    }

    .footer_center__desc {
        font-size: 20px;
        line-height: 23px;
    }

    .footer-social-icons {
        margin-right: 10px;
    }

    .footer-social-icons__item {
        width: 30px;
    }

    .footer_flex {
        justify-content: space-evenly;
    }

    #main {
        padding-bottom: 150px;
    }

    .footer-social-icons__item {
        width: 20px;
    }
}



@media (max-width:1024px) {
    .container {
        width: 1024px;
    }
    .footer-social-icons {
        margin-top: 10px;   
    }
    section#roadmap {
        padding-bottom: 50px;
        min-height: 600px;
        max-height: 1000px;
    }
    .social-icons {
        width: 100%;
        margin: 0px 35px;
        justify-content: center;
    }
    .social-icons__item {
        margin: 0px 40px;
    }
    .hamburger-menu {
        display: block;
    }

    .header_info__title {
        font-size: 45px;
        line-height: 53px;
    }

    .header_info__desc {
        font-size: 20px;
        text-align: center;
        line-height: 23px;
        max-width: 480px;
    }

    .header_bottom {
        flex-direction: column;
    }

    .header_info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-icons {
        flex-direction: row;
        margin-right: 20px;
        margin-top: 50px;
        align-items: center;
    }

    .about_flex {
        flex-direction: column-reverse;
    }

    .mcduck__about img {
        width: 500px;
        height: 500px;
    }

    .whatis {
        text-align: center;
    }

    .whatis__title {
        font-size: 30px;
        line-height: 35px;
        margin-top: 150px;
    }
    .header_info {
        margin-left: 0px;
    }
    .whatis__desc {
        font-size: 18px;
        max-width: 550px;
        line-height: 35px;
    }

    .about_flex {
        padding-bottom: 100px;

    }
    .mcduck__about {

        margin-top: 100px;
    }

    .buble {
        width: 50%;
    }

    .help__title {
        font-size: 30px;
        line-height: 35px;
    }

    .three_row__item-title {
        font-size: 30px;
        line-height: 35px;
    }

    .three_row__item-desc {
        margin-top: 30px;
        font-size: 18px;
        line-height: 21px;
        padding: 0px 40px;
    }

    .three_row__item:nth-child(2) {
        align-self: flex-end;
    }

    .three_row__item {
        align-items: center;
    }

    .three_row__item-img img {
        width: 150px;
    }

    .ducks-2 {
        margin-top: 40px;
    }

    .chart_flex__list {
        margin-right: 0px;
    }

    .chart_flex__img {
        width: 75%;
        position: relative;
    }

    .chart_flex__list {
        margin-top: 20px;
        position: absolute;
        top: 0;
        right: 20px;
    }

    .chart_flex__list-item {
        font-size: 25px;
        line-height: 35px;
    }

    section#chart {
        padding-bottom: 100px;
    }

    .roadmap_flex_left {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 35px;
        min-width: 400px;
    }
    .roadmap_flex_right {
        margin-top: 100px;
        position: relative;
    }

    .may-content__list,
    .june-content__list,
    .july-content__list {
        padding: 0;
        margin-top: 20px;
    }

    .may-content__title,
    .june-content__title,
    .july-content__title {
        font-size: 20px;
        line-height: 28px;
    }

    .may-content__list-item,
    .june-content__list-item,
    .july-content__list-item {

        font-size: 18px;
        line-height: 25px;

    }

    .may2021,
    .june2021,
    .july2021 {
        font-size: 25px;
    }

    .june2021 {
        position: absolute;
        right: 200px;
        top: 180px;
    }

    .roadmap_flex_right {
        width: 570px;
        position: absolute;
        left: 140px;
    }

    section#roadmap {
        padding-bottom: 50px;
    }

    .footer_center__title {
        font-size: 45px;
        line-height: 53px;
    }

    .footer_center__desc {
        font-size: 20px;
        line-height: 23px;
    }

    .footer-social-icons {
        margin-right: 10px;
    }

    .footer-social-icons__item {
        width: 20px;
        margin: 20px 0px;

    }
    .footer-social-icons__item:first-child {

        margin-top:0px;

    }
    .footer_navigation__item {
        font-size: 16px;
        line-height: 19px;
    }

    .footer_menu-burger {
        display: block;
    }

    .footer_flex {
        position: relative;
    }

    .header_hamburger {
        position: absolute;
        top: 44px;
        left: 80px;
    }

    .header_hamburger span,
    .header_hamburger span::after,
    .header_hamburger span::before {
        background-color: #ffffff;
    }

    .footer_hamburger {
        position: absolute;
        top: 7px;
        left: 155px;
    }

    .footer_hamburger span,
    .footer_hamburger span::after,
    .footer_hamburger span::before {
        background-color: #616161;
    }

    .hamburger-menu {
        display: block;
    }

    .header_navigation {
        display: none;
        position: absolute;
        left: 70px;
        top: 80px;
    }

    .footer_navigation {
        display: none;
    }

    .header_navigation__item-link {
        font-size: 16px;
        line-height: 19px;
    }

    #main {
        padding-bottom: 150px;
    }

    .footer-social-icons__item {
        width: 20px;
    }
    .footer_navigation {
        margin-top: 50px;
    }
}

@media (max-width: 992px) { 
    .container {
        width: 800px;
    }
    .footer_hamburger {
        left: 55px;
}
}
@media (max-width:768px) {
    .container {
        width: 768px;
    }
    .footer-social-icons {
        margin-top: 10px;   
    }
    section#roadmap {
        padding-bottom: 50px;
        min-height: 600px;
        max-height: 1000px;
    }
    .social-icons {
        width: 100%;
        margin: 0px 35px;
        justify-content: center;
    }
    .social-icons__item {
        margin: 0px 40px;
    }
    .hamburger-menu {
        display: block;
    }

    .header_info__title {
        font-size: 45px;
        line-height: 53px;
    }

    .header_info__desc {
        font-size: 20px;
        text-align: center;
        line-height: 23px;
        max-width: 480px;
    }

    .header_bottom {
        flex-direction: column;
    }

    .header_info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-icons {
        flex-direction: row;
        margin-right: 20px;
        margin-top: 50px;
        align-items: center;
    }

    .about_flex {
        flex-direction: column-reverse;
    }

    .mcduck__about img {
        width: 268px;
        height: 246px;
    }

    .whatis {
        text-align: center;
    }

    .whatis__title {
        font-size: 30px;
        line-height: 35px;
        margin-top: 50px;
    }
    .header_info {
        margin-left: 0px;
    }
    .whatis__desc {
        font-size: 18px;
        max-width: 550px;
        line-height: 35px;
    }

    .about_flex {
        padding-bottom: 100px;

    }
    .mcduck__about {

        margin-top: 100px;
    }

    .buble {
        width: 50%;
    }

    .help__title {
        font-size: 30px;
        line-height: 35px;
    }

    .three_row__item-title {
        font-size: 30px;
        line-height: 35px;
    }

    .three_row__item-desc {
        margin-top: 30px;
        font-size: 18px;
        line-height: 21px;
        padding: 0px 40px;
    }

    .three_row__item:nth-child(2) {
        align-self: flex-end;
    }

    .three_row__item {
        align-items: center;
    }

    .three_row__item-img img {
        width: 150px;
    }

    .ducks-2 {
        margin-top: 40px;
    }

    .chart_flex__list {
        margin-right: 0px;
    }

    .chart_flex__img {
        width: 75%;
        position: relative;
    }

    .chart_flex__list {
        margin-top: 20px;
        position: absolute;
        top: 0;
        right: 20px;
    }

    .chart_flex__list-item {
        font-size: 25px;
        line-height: 35px;
    }

    section#chart {
        padding-bottom: 100px;
    }

    .roadmap_flex_left {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 35px;
        min-width: 400px;
    }
    .roadmap_flex_right {
        margin-top: 100px;
        position: relative;
        width: 580px;
        position: absolute;
        left: 140px;
    }

    .may-content__list,
    .june-content__list,
    .july-content__list {
        padding: 0;
        margin-top: 20px;
    }

    .may-content__title,
    .june-content__title,
    .july-content__title {
        font-size: 20px;
        line-height: 28px;
    }

    .may-content__list-item,
    .june-content__list-item,
    .july-content__list-item {

        font-size: 18px;
        line-height: 25px;

    }

    .may2021,
    .june2021,
    .july2021 {
        font-size: 25px;
    }

    .june2021 {
        position: absolute;
        right: 200px;
        top: 180px;
    }

  

    section#roadmap {
        padding-bottom: 50px;
    }

    .footer_center__title {
        font-size: 45px;
        line-height: 53px;
    }

    .footer_center__desc {
        font-size: 20px;
        line-height: 23px;
    }

    .footer-social-icons {
        margin-right: 10px;
    }

    .footer-social-icons__item {
        width: 20px;
        margin: 20px 0px;

    }
    .footer-social-icons__item:first-child {

        margin-top:0px;

    }
    .footer_navigation__item {
        font-size: 16px;
        line-height: 19px;
    }

    .footer_menu-burger {
        display: block;
    }

    .footer_flex {
        position: relative;
    }

    .header_hamburger {
        position: absolute;
        top: 44px;
        left: 80px;
    }

    .header_hamburger span,
    .header_hamburger span::after,
    .header_hamburger span::before {
        background-color: #ffffff;
    }

    .footer_hamburger {
        position: absolute;
        top: 7px;
        left: 65px;
    }

    .footer_hamburger span,
    .footer_hamburger span::after,
    .footer_hamburger span::before {
        background-color: #616161;
    }

    .hamburger-menu {
        display: block;
    }

    .header_navigation {
        display: none;
        position: absolute;
        left: 70px;
        top: 80px;
    }

    .footer_navigation {
        display: none;
    }

    .header_navigation__item-link {
        font-size: 16px;
        line-height: 19px;
    }

    #main {
        padding-bottom: 150px;
    }

    .footer-social-icons__item {
        width: 20px;
    }
    .footer_navigation {
        margin-top: 50px;
    }
}
@media (max-width:600px) {

    .container {
        width: 600px;
    }
    .roadmap_flex_right {
        margin-top: 40px;
        position: relative;
        width: 350px;
        position: absolute;
        left: 90px;
    }
    .june2021 {
        position: absolute;
        right: 100px;
        top: 80px;
    }
    .header_navigation.elem-block {
        display: flex !important;
        position: absolute;
        left: 100px;
        top: 50px;
    }
    .chart_flex__list-item {

        padding: 14px 0px;
    }
    .chart_flex__list {
        top: 250px;
        right: 20px;
    }
    .footer_center__title {
        font-size: 25px;
        line-height: 33px;
    }
    .footer_center__desc {
        font-size: 14px;
        line-height: 23px;
        margin-top: 50px;
        width: 300px;
       
    }
  
}


@media (max-width:568px) {

    .container {
        width: 375px;
    }
    .footer-social-icons {
        margin-top: 0px; 
    }
    .header_info {
        margin-left: 0px;
    }
    .hamburger-menu {
        display: block;
    }

    .three_row__item-img {
        display: none;
    }

    .footer_center__desc {

        width: 250px;
    }

    .roadmap_flex_right {
        width: 250px;
        position: absolute;
        left: 50px;
    }

    .header_navigation__item-link {
        font-size: 20px;
        line-height: 12px;
    }

    .header_info__title {
        font-size: 25px;
        line-height: 29px;
    }

    .header_info__desc {
        font-size: 16px;
        line-height: 19px;
    }

    .header_info__btn {
        font-size: 18px;
        line-height: 40px;
        width: 200px;
        height: 40px;
    }

    .buble,
    .mcduck__about,
    .help__title {
        display: none;
    }

    .about_flex {
        padding-top: 75px;
        padding-bottom: 30px;
    }

    .whatis__title {
        font-size: 20px;
        line-height: 23px;
        margin-top: 0px;
    }

    .whatis__desc {
        font-size: 10px;
        line-height: 18px;
    }

    .three_row {
        flex-direction: column;
        margin-top: 0px;
    }

    #your {
        padding-top: 70px;
    }

    .three_row__item-title {
        font-size: 20px;
        line-height: 23px;
    }

    .three_row__item-desc {
        font-size: 10px;
        line-height: 12px;
    }

    .chart_flex__list-item {
        font-size: 14px;
        line-height: 20px;
        padding: 8px 0px;
    }

    .chart_flex__list {
        top: 230px;
    }

    .may2021,
    .june2021,
    .july2021 {
        font-size: 18px;
        line-height: 21px;
    }

    .may-content__title,
    .june-content__title,
    .july-content__title {
        font-size: 16px;
        line-height: 28px;
    }



    .may-content__list-item,
    .june-content__list-item,
    .july-content__list-item {
        font-size: 10px;
        line-height: 16px;
    }

    .roadmap_flex_left {
        min-width: 280px;
    }

    .roadmap_flex_right {
        width: 330px;
        left: 55px;
        margin-top: 50px;
    }

    .june2021 {
        right: 105px;
        top: 80px;
    }


    .footer_navigation__item-link {
        font-size: 10px;
        line-height: 12px;
    }

    .footer_center__title {
        font-size: 15px;
        line-height: 18px;
    }

    .footer_center__desc {
        font-size: 10px;
        line-height: 12px;
        width: 200px;
    }

    .footer_hamburger {
        top: -5px;
        left: 12px;
    }

    .footer-social-icons__item {
        width: 15px;
    }

    #footer {
        padding-bottom: 30px;
    }

    .footer_flex {

        margin-top: 60px;
    }

    .whatis__desc {
        max-width: 280px;
    }

    #main {
        padding-bottom: 70px;
    }

    .header_info__desc {
        max-width: 250px;
        margin-top: 30px;
    }

    .header_bottom {

        margin-top: 135px;
    }

    .header_hamburger {
        position: absolute;
        top: 24px;
        left: 30px;
    }

    .header_navigation.elem-block {
        display: flex !important;
        position: absolute;
        left: 40px;
        top: 50px;
    }

    .social-icons__item {
        width: 15px;
    }

    .three_row__item:nth-child(2) {
        align-self: center;
    }

    .three_row {
        flex-direction: column;
        margin-top: 0px;
        align-items: center;
    }
    .footer_center {
        flex-grow: 1;
    }
}



@media (max-width:414px) {

    .container {
        width: 414px;
    }
    .footer-social-icons {
        margin-top: 0px; 
        margin-right: 0px;
        
    }
    .footer-social-icons__item {
        width: 15px;
        margin: 10px 0px;
    }
    .footer-social-icons__item:first-child {
        width: 15px;
        margin-top:0px;
    }
    .header_info {
        margin-left: 0px;
    }
    .hamburger-menu {
        display: block;
    }

    .three_row__item-img {
        display: none;
    }

    .footer_center__desc {

        width: 250px;
    }

    .roadmap_flex_right {
        width: 270px;
        left: 60px;
        margin-top: 90px;
    }

    .header_navigation__item-link {
        font-size: 10px;
        line-height: 12px;
    }

    .header_info__title {
        font-size: 25px;
        line-height: 29px;
    }

    .header_info__desc {
        font-size: 16px;
        line-height: 19px;
    }

    .header_info__btn {
        font-size: 18px;
        line-height: 40px;
        width: 200px;
        height: 40px;
    }

    .buble,
    .mcduck__about,
    .help__title {
        display: none;
    }

    .about_flex {
        padding-top: 75px;
        padding-bottom: 30px;
    }

    .whatis__title {
        font-size: 20px;
        line-height: 23px;
        margin-top: 0px;
    }

    .whatis__desc {
        font-size: 10px;
        line-height: 18px;
    }

    .three_row {
        flex-direction: column;
        margin-top: 0px;
    }

    #your {
        padding-top: 70px;
    }

    .three_row__item-title {
        font-size: 20px;
        line-height: 23px;
    }

    .three_row__item-desc {
        font-size: 10px;
        line-height: 12px;
    }

    .chart_flex__list-item {
        font-size: 14px;
        line-height: 20px;
        padding: 8px 0px;
    }

    .chart_flex__list {
        top: 230px;
        margin-top: 70px;
        position: absolute;
        right: 60px;
    }

    .may2021,
    .june2021,
    .july2021 {
        font-size: 18px;
        line-height: 21px;
    }

    .may-content__title,
    .june-content__title,
    .july-content__title {
        font-size: 16px;
        line-height: 28px;
    }



    .may-content__list-item,
    .june-content__list-item,
    .july-content__list-item {
        font-size: 10px;
        line-height: 16px;
    }

    .roadmap_flex_left {
        max-width: 320px;
        min-width: 280px;
    }



    .june2021 {
        right: 75px;
        top: 60px;
    }


    .footer_navigation__item-link {
        font-size: 10px;
        line-height: 12px;
    }

    .footer_center__title {
        font-size: 15px;
        line-height: 18px;
    }

    .footer_center__desc {
        font-size: 10px;
        line-height: 12px;
        width: 200px;
    }

    .footer_hamburger {
        top: -5px;
        left: 12px;
    }

    .footer-social-icons__item {
        width: 15px;
    }

    #footer {
        padding-bottom: 30px;
    }

    .footer_flex {

        margin-top: 60px;
    }

    .whatis__desc {
        max-width: 280px;
    }

    #main {
        padding-bottom: 70px;
    }

    .header_info__desc {
        max-width: 250px;
        margin-top: 30px;
    }

    .header_bottom {

        margin-top: 135px;
    }

    .header_hamburger {
        position: absolute;
        top: 24px;
        left: 30px;
    }

    .header_navigation.elem-block {
        display: flex !important;
        position: absolute;
        left: 40px;
        top: 50px;
    }

    .social-icons__item {
        width: 35px;
        margin: 0px 20px;
    }

    .three_row__item:nth-child(2) {
        align-self: center;
    }
    .social-icons {
        width: 100%;
        justify-content: center;
        margin: 0;
        margin-top: 50px;
    }

    .three_row {
        flex-direction: column;
        margin-top: 0px;
        align-items: center;
    }
    .footer_center {
        flex-grow: 1;
    }
}

@media (min-width:320px) and (max-width: 400px) {

    .container {
        width: 320px;
    }
    .header_info {
        margin-left: 0px;
    }
    .hamburger-menu {
        display: block;
    }

    .three_row__item-img {
        display: none;
    }

    .footer_center__desc {

        width: 250px;
    }

    .roadmap_flex_right {
        width: 250px;
        position: absolute;
        left: 50px;
    }

    .header_navigation__item-link {
        font-size: 10px;
        line-height: 12px;
    }

    .header_info__title {
        font-size: 25px;
        line-height: 29px;
    }

    .header_info__desc {
        font-size: 16px;
        line-height: 19px;
    }

    .header_info__btn {
        font-size: 18px;
        line-height: 40px;
        width: 200px;
        height: 40px;
    }

    .buble,
    .mcduck__about,
    .help__title {
        display: none;
    }

    .about_flex {
        padding-top: 75px;
        padding-bottom: 30px;
    }

    .whatis__title {
        font-size: 20px;
        line-height: 23px;
        margin-top: 0px;
    }

    .whatis__desc {
        font-size: 10px;
        line-height: 18px;
    }

    .three_row {
        flex-direction: column;
        margin-top: 0px;
    }

    #your {
        padding-top: 70px;
    }

    .three_row__item-title {
        font-size: 20px;
        line-height: 23px;
    }

    .three_row__item-desc {
        font-size: 10px;
        line-height: 12px;
    }

    .chart_flex__list-item {
        font-size: 14px;
        line-height: 20px;
        padding: 8px 0px;
    }

    .chart_flex__list {
        top: 170px;
        right: 20px;
    }

    .may2021,
    .june2021,
    .july2021 {
        font-size: 18px;
        line-height: 21px;
    }

    .may-content__title,
    .june-content__title,
    .july-content__title {
        font-size: 16px;
        line-height: 28px;
    }



    .may-content__list-item,
    .june-content__list-item,
    .july-content__list-item {
        font-size: 10px;
        line-height: 16px;
    }

    .roadmap_flex_left {
        min-width: 280px;
    }

    .roadmap_flex_right {
        width: 230px;
        left: 50px;
        margin-top: 90px;
    }

    .june2021 {
        right: 65px;
        top: 50px;
    }


    .footer_navigation__item-link {
        font-size: 10px;
        line-height: 12px;
    }

    .footer_center__title {
        font-size: 15px;
        line-height: 18px;
    }

    .footer_center__desc {
        font-size: 10px;
        line-height: 12px;
        width: 200px;
    }

    .footer_hamburger {
        top: -5px;
        left: 13px;
    }

    .footer-social-icons__item {
        width: 15px;
        margin: 20px 0px;
    }
    .footer-social-icons__item:first-child {

        margin-top:0px;
    }

    #footer {
        padding-bottom: 30px;
    }

    .footer_flex {
        justify-content: space-between;
        margin-top: 60px;
    }

    .whatis__desc {
        max-width: 280px;
    }

    #main {
        padding-bottom: 70px;
    }

    .header_info__desc {
        max-width: 250px;
        margin-top: 30px;
    }

    .header_bottom {

        margin-top: 135px;
    }

    .header_hamburger {
        position: absolute;
        top: 24px;
        left: 30px;
    }

    .header_navigation.elem-block {
        display: flex !important;
        position: absolute;
        left: 15px;
        top: 50px;
    }

    .social-icons__item {
        width: 15px;
    }

    .three_row__item:nth-child(2) {
        align-self: center;
    }

    .three_row {
        flex-direction: column;
        margin-top: 0px;
        align-items: center;
    }
}